{% set pageTitle = "Table of Contents" %}
{% extends "layout-main.njk" %}


{% block content %}
[![Toreda, Inc.](https://content.toreda.com/logo/toreda-logo.png)](https://www.toreda.com)

# Code Standards

## NPM
### Using `package.json`
#### `name` field
#### `main` field
#### `author` field
#### `license` field


{% endblock %}
